* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 
:root {

    font-family;
} */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 10%;

}

.main-right {
    /* border: 2px solid red; */
    display: flex;
    gap: 30px;



}

.language {
    font-size: 16px;
    padding: 7px 10px;
}

button {
    font-size: 14px;
    background-color: #E10914;
    color: #fff;
    padding: 8px 4px;
    border-radius: 5px;
    font-weight: bolder;
    border: none;
}

button:hover{

    background-color: #C11119;
}


nav::before {
    content: '';

    background-image: url('img/background.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100vh;

    z-index: -1;
    opacity: 0.4;
}

/* main */
div.main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 48px;

}

.main .heading-main {
    font-size: 48px;

}

.para-main-upper {
    font-size: 20px;

}

.paragraph-main {
    font-size: 20px;

}

.emial-is-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 4px;
}

.emial-is-section input {
    font-size: 16px;
    padding: 13px 52px;
    background-color: #212222;
    border: 0.5px solid #646464;
    color: #fff;
}

.emial-is-section button.btnnn {
    font-size: 16px;
    font-weight: lighter;
    border: none;
    border-radius: 0px;
    padding: 14px 16px;

}

.emial-is-section button.btnnn:hover{
    background-color: #C11119;
}